<h1>Image List</h1>
<br>
<form action=/images/new>
  <input type="submit" value="Add Image" />
</form>
<br>

<% @images.reverse.each do |image| %>
    <p>
      <img src="<%= image.url %>" />
    </p>
<% end %>
