<h1>Image List</h1>
<br>
<form action=/images/new>
  <input type="submit" value="Add Image" id="id"/>
</form>
<br>
<a href="/">Clear filter</a>
<br><br>

<% if @images.any? %>
  <% @images.reverse.each do |image| %>
    <p>
      <img src="<%= image.url %>" />
      <br>
      <%= image_tags(image) %>
      </p>
  <% end %>
<% else %>
  <h2>No images found.</h2>
<% end %>
