<h1>Image List</h1>
<br>
<form action=/images/new>
  <input type="submit" value="Add Image" id="id"/>
</form>
<br>
<a href="/">Clear filter</a>
<br><br>
<p id="notice"><%= notice %></p>

<% if @images.any? %>
  <% @images.reverse.each do |image| %>
    <p>
      <div class="image">
        <img src="<%= image.url %>" />
        <%= link_to 'Delete', image_path(id: image.id), class: 'delete_link_to', method: :delete, data: { confirm: 'You are about to delete image ' + image.url + '. continue?'} %>
      </div>
      <div class="image_tags">
        <%= image_tags(image) %>
      </div>
    </p>
  <% end %>
<% else %>
  <h2>No images found.</h2>
<% end %>
